h2 {
    font-family:$headerFont;
    font-size:24px;
    // margin:0px;
}
.locationAddress {
    font-family: $mainFont;
    font-size:14px;
    width:50%;
    line-height:18px;
}

.save {
    border:1px solid $grey;
    border-radius:5px;
    padding:10px 25px;
}

.logo {
    
    max-width: 60%;
    float: left;
    img {
        width: 100%;
    }
}


