.authButton {
    border-radius: 15px;
    background-color: $orange;
    color: white;
    border:3px solid $grey;
    font-weight: 700;
    font-family: $mainFont;
    text-transform: uppercase;
    padding: 10px 30px;
    max-width:200px;
    width:100%;
    display:block;
    float: left;
    &:hover {
        background:$rose;
        color:$orange;
    }
}

.userStuff {
    padding:25px 25px;
}
.signOut {
    display:block;
    float:right;
    margin-right:25px;
    margin-top:15px;
}
.logOut, .logIn {
    // padding:5px 10px;
    font-size:14px;
    margin-bottom:5px;
}
.userPhoto {
    float:right;
    margin-bottom:20px;
    font-family:$mainFont;
    font-size:14px;
    div {
        padding-left:25%;
    }
}
.userPhoto img {
    max-width:65px;
    border-radius:50%;
    display:block;
    margin-bottom:20px;
    
}
.logIn {
    // position: absolute;
    // top:28%;
    // right:15%;
}