form {
    font-family: $mainFont;
    clear: both;
}
h1 {
    font-family:$headerFont;
}

input[type="submit"] {
    border: 2px solid $orange;
    padding:10px 35px;
    border-radius: 5px;
    background: white;
    text-transform: uppercase;
    font-weight: 700;
    color: $orange;    
    // display:block;
    &:hover {
        border: 2px solid white;
        background: $orange;
        color: white;
    }
}

#userText {
    border:0px;
    border-radius:5px;
    background:rgba(218, 217, 213, 0.4);
    font-size: 1.1rem;
    color: white;
    font-weight: 700;
    padding: 10px 0 10px 15px;
    margin:25px;
}