@import 'normalize';
@import 'variables';
@import 'search';
@import 'login';
@import 'infoWindow';

.wrapper {
    text-align: center;
    width: 100%;
    background-color: $orange;
    label {
        color: white;
        font-size: 1.2rem;
        font-weight: 900;
    }
}   



.infoPane {
    float:right;
    max-width:400px;
    padding:50px;
}
